{% extends 'base.html' %} {% block content %}

<div class="row text-center">
  <div class="col">
    <h1>
      Welcome to my first Python Project!
    </h1>
  </div>
</div>

<div class='row mb-3'>
  <div class='col-md-4 mx-auto col-10'>
    <form class='form' id='post-create-form' method="POST" action='/create-post'>
      {% csrf_token %}
      <input type='hidden' value='/' name='next'/>
      <textarea required='required' class='form-control' name='content' placeholder='Post...'></textarea>
      <button type='submit' class='btn btn-primary'>Post</button>
    </form>

  </div class='col-md-4'>
</div>

<div class="row" id="posts">
  Loading...
</div>

<script>

  const handlePostFormSubmit = (e) => {
    e.preventDefault()
    const myForm = e.target
    const myFormData = new FormData(myForm)
    const url = myForm.getAttribute("action")
    const method = myForm.getAttribute("method")
    const xhr = new XMLHttpRequest()
    const responseType = 'json';

    xhr.responseType = responseType;
    xhr.open(method, url)
    xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest")
    xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")
    xhr.onload = () => {
      if (xhr.status === 201) {
        const newPostJson = xhr.response
        const newPostElement = formatPostElement(newPostJson)
        const newPostHtml = postsContainerElement.innerHTML
        
        postsContainerElement.innerHTML = newPostElement + newPostHtml
        
        myForm.reset()

      }
      

    }
    xhr.send(myFormData);

  }

  const postCreateFormEl = document.getElementById('post-create-form')

  postCreateFormEl.addEventListener('submit', handlePostFormSubmit)

  const postsContainerElement = document.getElementById('posts');

  const formatPostElement = (values) => {
    if (values.length > 1) {
    const formattedPost = values.map((value) => {
        return (
          "<div class='mb-4 home__post col-12 col-md-10 mx-auto border rounded py-3' id='post__" +
          value.id +
          "'><p>" +
          value.content +
          "</p><div class='btn-group'>" +
          LikeBtn(value) +
          '</div></div>'
        );
      })
    return formattedPost
    }
    return (
          "<div class='mb-4 home__post col-12 col-md-10 mx-auto border rounded py-3' id='post__" +
          values.id +
          "'><p>" +
          values.content +
          "</p><div class='btn-group'>" +
          LikeBtn(values) +
          '</div></div>'
        );
  }

  const loadPosts = (postsElement) => {
    const xhr = new XMLHttpRequest();
    const method = 'GET';
    const url = '/posts';
    const responseType = 'json';

    xhr.responseType = responseType;
    xhr.open(method, url);
    xhr.onload = () => {
      const serverResponse = xhr.response;
      const listedItems = serverResponse.response;

      postsElement.innerHTML = formatPostElement(listedItems);
    };
    xhr.send();
  };
  

  loadPosts(postsContainerElement)

  const LikeBtn = (post) => {
    return (
      "<button class='btn btn-primary btn-small' onClick=handleLike(" +
      post.id +
      ',' +
      post.likes +
      ')>' +
      post.likes +
      ' Likes</button>'
    );
  };

  const handleLike = (post_id, currentCount) => {
    console.log(post_id, currentCount);
    return;
  };

</script>
{% endblock content %}
